@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #008ECC;
    --color-blue: #F3F9FB;
    --color-text: #666666;
    --color-heading: #222222;
    --color-light: #888888;
    --color-border: #EDEDED;
    --color-background: #F5F5F5;
    --color-bgthree: #F3F9FB;
    --color-yellow: #E3BC01;
    --color-line: #D9D9D9;
}

* {
    font-family: 'Hanken Grotesk',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}